.c-footer
  row()
  background        $white
  box-shadow        0 -5px 10px $white
  color             $grey--dark
  font-size         0.75rem
  padding           0.5 * $base-spacing-unit $base-spacing-unit
  width             100%

  &__attribution
    col(6)

  &__share
    col(6)
    text-align      right