.c-windows
  unstyled-list()
  display           block
  margin            0 auto
  max-width         1024px

  &__item
    display         block
    min-height      6rem
    padding-bottom  2vw
    width           48%

    +bp($screen-sm-min)
      width         32%

  &__gutter
    width           2%