// Helper classes

.u-caps
	text-transform			uppercase

.u-centred
	text-align				center

.u-left-aligned
	text-align				left

.u-right-aligned
	text-align				right

.u-small
	font-size				0.85em

.u-subheader
	display 			block
	font-size			0.4em
	font-weight			300
	margin				0.05em 0
	opacity 			0.75