.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.icon-twitter {
	width: 0.9285703301429749em;
}

.icon-facebook {
	width: 0.5881709158420563em;
}

.icon-linkedin {
	width: 0.8571429451305903em;
}
