// @name Input
// @description Standard text input
// @state :disabled, --disabled - Dims the input when disabled
// @state .input--block - Makes the input full-width
// @markup
// <input class="o-form__input" id="input" placeholder="placeholder text" type="text"></input>
// <input class="o-form__input" disabled id="input" placeholder="placeholder text" type="text"></input>
// <input class="o-form__input o-form__input--block" id="input" placeholder="placeholder text" type="text"></input>
.o-form__input
	background		$white
	border			1px solid $light-grey-1
	box-shadow		none
	display			block
	font-size		1rem
	margin-bottom	$base-spacing-unit
	padding			0.5 * $base-spacing-unit

	&:disabled,
	&[disabled],
	&.is-disabled
		background	$light-grey-1
		cursor		not-allowed !important

		& ~ label,
		& ~ .o-form__label
			cursor	not-allowed !important

	&--block
		width		100%

// @name Label
// @description Standard label for form inputs
// @markup
// <label class="o-form__label" for="input">Form field:</label>
.o-form__label
	cursor			pointer