// @name Input
// @description Standard text input
// @state :disabled, --disabled - Dims the input when disabled
// @state .input--block - Makes the input full-width
// @markup
// <input class="o-form__input" id="input" placeholder="placeholder text" type="text"></input>
// <input class="o-form__input" disabled id="input" placeholder="placeholder text" type="text"></input>
// <input class="o-form__input o-form__input--block" id="input" placeholder="placeholder text" type="text"></input>
.o-form__input
	background	transparent
	border none
	border-bottom 1px solid $white
	box-shadow		none
	color				$white
	display			block
	font-size		1rem
	margin-bottom	$base-spacing-unit
	padding			0.5 * $base-spacing-unit
	transition $fast-transition

	&:focus
		background rgba($white, 0.1)
		outline 	none

	&:disabled,
	&[disabled],
	&.is-disabled
		background	$light-grey-1
		cursor		not-allowed !important

		& ~ label,
		& ~ .o-form__label
			cursor	not-allowed !important

	&--block
		width		100%

	&--centred
		margin 	0.5 * $base-spacing-unit auto
		text-align center

// @name Label
// @description Standard label for form inputs
// @markup
// <label class="o-form__label" for="input">Form field:</label>
.o-form__label
	cursor			pointer

input::-webkit-input-placeholder
	color rgba($white, 0.3)

input:-webkit-autofill
	background-color transparent

.o-form__input-group

	&.is-error

		.o-form__input
			animation-duration				0.3s
			animation-fill-mode				both
			animation-iteration-count		2
			animation-name					shake

			&:focus
				border 									1px dotted $white

@keyframes shake
	0%, 50%, 100%
		transform		translateX(0)
	25%
		transform		translateX(-10px)
	75%
		transform		translateX(-10px)