.notification

  &-error
    background       $white !important
    border-radius    none !important
    border-top       none !important
    margin           0 !important
    opacity          0.9 !important

.notifications-tc
  left               0 !important
  margin             0 !important
  padding            0 !important
  width              100% !important