$black =					#000000
$blue =						#25a8e0
$blue--dark =			#2c3e50
$grey--dark =     #333333
$green =					#75bb49
$grey--light =		#d9d9d9
$red =						#e74c3c
$silver =		      #95a5a6
$white =					#ffffff
$yellow =					#fcd900

// Theme Colours

$red =            #e76557
$red--dark =      #67221b
$red--light =     #e77d6f
$pink =           lighten($red, 60%)


// Colour Settings

$body-background =			$grey--dark
$body-text-colour =			$silver
$headings-colour =			$white
$link-colour =          $pink