@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

$base-font-size =			14px
$body-font =				  "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$headings-font =			$body-font
$monospace-font =			Menlo, Consolas