doctype
html(lang="en")
  
  include includes/head
  
  body
  
    main
      .o-page
        .o-page__container
          h1
            span!=errorCode
            span :&nbsp;
            span!=errorMessage
          p
            a.o-button.o-button--ghost(href="/", title="Go to the main page") Go to the main page 