@media print

	body:before
		border 						1px dashed green
		color						green
		content 					"Do you really need to print this? Please consider the environment."
		display 					block
		margin-bottom 				$base-spacing-unit
		padding						0.5 * $base-spacing-unit
		text-align 					center

 	// your print styles